aside {
    margin-top: 20px;
    // border: 1px solid#000;
    width: 320px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:#efefef;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}
.author-title {
    text-transform: uppercase;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    font-size: 21px;
    color: #0a272b;
    
}
.author-img {
    margin-left: 100px;
    width: 100px;
    height: 130px;
    border-radius: 100px;
    margin-top: 10px;
}
.author-name {
    margin-left: 100px;
    margin-top: 15px;
    text-transform: uppercase;
    color: #770000;
}
.author-description {
    font-family: 'Roboto', sans-serif;
    color: #0a272b;
    font-size: 16px;
    line-height: 21px;
    margin-top: 20px;
}

.social-network-title {
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    font-size: 21px;
    color: #0a272b;
}

.aside-network {
    margin-top: 20px;
    list-style: none;
    display: flex;
    width: 300px;
    margin-left: 20px;
    justify-content: space-between;
    // a {
    //     text-decoration: none;
    // }
    .facebook:hover {
        cursor: pointer;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        fill:#443e9d;
    }
    .instagram:hover {
        cursor: pointer;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        // stroke: red;
        fill: #e66465;
    }
    .twitter:hover {
        cursor: pointer;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        fill:#0c0266;
    }
    
}
svg {
    stroke:inherit;
    stroke-width:inherit;
    fill:inherit;
}
.subscribe-title {
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    font-size: 21px;
    color: #0a272b;
}

.subscribe-author {
    width: 320px;

}
.subscriber-name, .subscriber-email {
    width: 315px;
    margin-top: 25px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.subscribe-btn {
    margin-top: 20px;
    text-transform: uppercase;
    border: none;
    background: #47333f;
    width: 315px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 10px 0;
}
.subscribe-btn:hover{
    cursor: pointer;
    background: linear-gradient(#e66465, #9198e5);
    color: #fff;
}
.search-title {
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    font-size: 21px;
    color: #0a272b;
}
.search-input {
    width: 290px;
    border: 1px solid #ccc;
    border-radius: 50px;
    height: 30px;
}


.submit-input {
    padding-bottom: 3px;
    border: none;
    background-color: #fff;
    width: 15px;
    height: 15px;
    background-image: url(../img/iconmonstr-magnifier-4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.submit-input:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    fill:#443e9d;
}

.search-author {
    margin-top: 15px;
}
.tags-title {
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    font-size: 21px;
    color: #0a272b;
}
.tags {
    margin-top: 20px;
    width: 320px;
    text-align: center;
}
.tags-item {
    margin-top: -5px; 
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #91b5b5;
}

.tags span {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
}
.comments-title {
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 24px;
}
.comments-list {
    list-style: none;
    width: 320px;
}
.comment {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
}
.comment-img {
    margin-top: 15px;
    margin-left: 5px;
    height: 50px;
    width: 50px;
}



.right-comment-content {
    margin-top: 10px;
    width: 230px;
}


.comment-name {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: 	#654d33;
}
.comment-text {
    margin-top: 15px;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media all and (min-width: 768px) and (max-width: 1025px) {
    aside {
        margin-top: 20px;
        // border: 1px solid#000;
        width: 750px;
    }
    .author-info {
        margin-left: 70px;
    }
    .author-title {
        display: none;
    }
    .author-name {
        font-size: 25px;
        position: relative;
        bottom: 150px;
        left: 180px;
    }
    .author-description {
        width: 500px;
        font-size: 16px;
        position: relative;
        bottom: 130px;
        left: 130px;
    }
    

    .aside-network {
        margin-top: 20px;
        list-style: none;
        display: flex;
        width: 300px;
        margin-left: 110px;
        justify-content: space-between;
    }

    .subscriber-name, .subscriber-email {
        width: 720px;
        margin: 10px auto;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .subscribe-btn {
        margin-top: 20px;
        width: 720px;
        margin: 0 auto;
        color: #fff;
        border-radius: 50px;
        padding: 15px 0;
    }

    .search-input {
        margin-top: 20px;
        width: 700px;
    }
    .tags {
        margin: 20px auto;
    }
    .comments-list {
        width: 750px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 30px;
        grid-area: col-end;
    }
 }

 @media all and  (max-width: 767px) {
    aside {
        margin-top: 20px;
        // border: 1px solid#000;
        width: 320px;
    }
    .author-title {
        display: none;
    }
    .subscriber-name, .subscriber-email {
        width: 300px;
        margin: 10px auto;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .subscribe-btn {
        margin-top: 20px;
        width: 300px;
        margin: 0 auto;
        color: #fff;
        border-radius: 50px;
        padding: 15px 0;
    }

    .search-input {
        margin-top: 20px;
        width: 300px;
    }
    .tags {
        margin: 20px auto;
    }
    .comments-list {
        width: 320px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 30px;
        grid-area: col-end;
    }
 }

