aside {
  margin-top: 20px;
  width: 300px; }

.author-title {
  text-transform: uppercase;
  font-weight: bold; }

.author-img {
  margin-top: 10px; }

.author-name {
  margin-top: 15px;
  text-transform: uppercase;
  color: #770000; }

.author-description {
  color: #0a272b;
  font-size: 16px;
  line-height: 21px;
  margin-top: 20px; }

.subscribe-author {
  width: 300px; }

.subscriber-name, .subscriber-email {
  width: 300px;
  margin-top: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 5px; }

.subscribe-btn {
  margin-top: 20px;
  text-transform: uppercase;
  border: none;
  background: #47333f;
  width: 300px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  padding: 10px 0; }

.search-input {
  width: 280px;
  border: 1px solid #ccc;
  border-radius: 50px;
  height: 30px; }

.submit-input {
  padding-bottom: 3px;
  border: none;
  background-color: #fff;
  width: 15px;
  height: 15px;
  background-image: url(../img/iconmonstr-magnifier-4.svg);
  background-repeat: no-repeat;
  background-size: cover; }

.search-author {
  margin-top: 15px; }

.tags {
  margin-top: 20px;
  width: 300px;
  text-align: center; }

.tags span {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase; }

.comments-title {
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 24px; }

.comments-list {
  list-style: none;
  width: 300px; }

.comment {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 15px;
  min-height: 80px;
  display: flex;
  justify-content: space-between; }

.comment-img {
  margin-top: 15px;
  margin-left: 5px;
  height: 50px;
  width: 50px; }

.right-comment-content {
  margin-top: 10px;
  width: 230px; }

.comment-name {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #654d33; }

.comment-text {
  margin-top: 15px;
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
