.footer {
  margin-top: 20px;
  width: 100%;
  background-color: #d4e3ff; }

.footer-wrapper {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; }

.footer-logo {
  margin-top: 20px;
  min-height: 100px;
  text-transform: uppercase; }
  .footer-logo a {
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    color: #3c3351; }
  .footer-logo :hover {
    cursor: pointer;
    color: #39643a; }

.footer-contacts {
  list-style: none; }
  .footer-contacts li {
    margin-top: 10px; }
  .footer-contacts li a {
    font-size: 14px;
    text-decoration: none;
    color: #3c3351; }

.mobile-phone::before {
  position: relative;
  top: 7px;
  right: 5px;
  content: url(../img/iconmonstr-smartphone-4.svg); }

.email::before {
  position: relative;
  top: 7px;
  right: 5px;
  content: url(../img/iconmonstr-email-2.svg); }

.location::before {
  position: relative;
  top: 3px;
  right: 5px;
  content: url(../img/iconmonstr-home-4.svg); }

.copyright::before {
  position: relative;
  top: 3px;
  right: 5px;
  content: url(../img/iconmonstr-copyright-1.svg); }

@media all and (min-width: 768px) and (max-width: 1025px) {
  .footer-wrapper {
    width: 750px;
    margin: 0 auto; }
  .footer-logo {
    margin-top: 40px;
    min-height: 100px;
    text-transform: uppercase; } }

@media all and (max-width: 767px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto; }
  .footer-logo {
    text-align: center;
    margin-top: 40px;
    min-height: 100px;
    text-transform: uppercase; }
  .footer-contacts {
    margin-left: 80px; } }
