.header {
  width: 100%;
  background-color: #f1c793; }

.header-logo {
  margin-top: 20px;
  min-height: 100px;
  text-transform: uppercase; }
  .header-logo a {
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    color: #3c3351; }
  .header-logo :hover {
    cursor: pointer;
    color: #39643a; }

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto; }

.menu-input {
  display: none; }

.nav-list {
  margin-top: 30px;
  list-style: none;
  display: flex;
  width: 250px;
  justify-content: space-between; }

.nav-item a {
  font-family: 'Muli', sans-serif;
  color: #6f6563;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold; }

.nav-item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: #39643a;
  text-decoration: underline; }

.header-nav a {
  text-decoration: none; }

.right-side {
  display: flex;
  flex-direction: column; }

.social-network {
  margin-top: 20px;
  list-style: none;
  display: flex;
  width: 250px;
  justify-content: space-between; }
  .social-network .facebook:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    fill: #443e9d; }
  .social-network .instagram:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    fill: #e66465; }
  .social-network .twitter:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    fill: #0c0266; }
  .social-network .search-item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    fill: #0c0266; }

svg {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit; }

.search-item {
  margin-right: 45px; }

@media all and (min-width: 768px) and (max-width: 1025px) {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin: 0 auto;
    flex-direction: row-reverse; }
  #menuToggle {
    height: 100%;
    display: block;
    position: relative;
    top: -30px;
    left: 0px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none; }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none; }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  #menuToggle span:first-child {
    transform-origin: 0% 0%; }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%; }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323; }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px); }
  .nav-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    margin: -110px 0px 0 -150px;
    padding: 170px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
    .nav-list li {
      padding: 10px 0;
      font-size: 22px; }
    .nav-list .nav-item:hover {
      text-decoration: underline; }
  /*
 * And let's slide it in from the left
 */
  #menuToggle input:checked ~ ul {
    transform: none; }
  .search-item {
    position: relative;
    left: 730px;
    top: 0px; }
  .facebook, .twitter, .instagram {
    display: none; }
  .header-logo {
    position: relative;
    right: 280px;
    margin-top: 40px;
    min-height: 50px;
    font-size: 21px;
    text-transform: uppercase; }
    .header-logo a {
      text-decoration: none;
      color: #3c3351; }
    .header-logo svg {
      width: 40px;
      height: 40px; }
    .header-logo :hover {
      cursor: pointer;
      color: #39643a; } }

@media all and (max-width: 767px) {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin: 0 auto;
    flex-direction: row-reverse; }
  #menuToggle {
    height: 100%;
    display: block;
    position: relative;
    top: -30px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none; }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none; }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  #menuToggle span:first-child {
    transform-origin: 0% 0%; }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%; }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323; }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px); }
  .nav-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 200px;
    margin: -110px 0px 0 -150px;
    padding: 170px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  .nav-list li {
    padding: 10px 0;
    font-size: 22px; }
  /*
 * And let's slide it in from the left
 */
  #menuToggle input:checked ~ ul {
    transform: none; }
  .search-item {
    position: relative;
    left: 290px;
    top: 0px; }
  .facebook, .twitter, .instagram {
    display: none; }
  .header-logo {
    position: relative;
    right: 100px;
    margin-top: 40px;
    min-height: 50px;
    font-size: 21px;
    text-transform: uppercase; }
    .header-logo a {
      text-decoration: none;
      color: #3c3351; }
    .header-logo svg {
      width: 40px;
      height: 40px; } }
